[2017-12-08 14:18] hirizarry643 opened #1 "scanner failing - (zap-baseline-custom.py) missing latest api changes"
There has been some recent updates to the api that requires some modifications to the zap-baseline-custom.py script. Please see (https://github.com/zaproxy/zaproxy/tree/develop/build/docker)

[2018-03-14 08:41] jmtaillant opened #3 "Login button and find_by_name"
Hi,

In the code you use
driver.find_element_by_name(auth_first_submit_field_name).click()
and
driver.find_element_by_name(auth_submit_field_name).click()

for login procedure. It could be good in case the button use "id" instead of  "name" property to try catch it and try to use:

driver.find_element_by_id(auth_first_submit_field_name).click()
and
driver.find_element_by_id(auth_submit_field_name)

[2018-03-19 14:00] PandaTime commented on #3
Agree, would be a nice feature, but what about xpath? it will add more flexibility :)

[2018-03-23 23:13] injcristianrojas commented on #1
I got the same issue over here. For instance, I get this error:

[code]

[2018-03-26 07:20] goner00k commented on #1
I will fix this issue the coming days. What are the commandline options you are using when this error occurs?

[2018-03-26 13:41] injcristianrojas commented on #1
I think I've fixed it in #4.

I tested it using the following:
[code]

[2018-03-28 07:52] #1 closed

[2018-03-28 10:08] goner00k commented on #3
Hi @jmtaillant and @PandaTime,

I extended the element lookup by id and name using the original commandline option for both username and password field.

See commit ca3b63d

[2018-03-28 10:08] #3 closed

[2018-07-18 13:59] psiinon opened #5 "Consider submiting a PR to zaproxy"
Is the authentication working well for you?
If so how about submitting a PR back to https://github.com/zaproxy/zaproxy ?
That way your work will help more people and you wont have to keep applying your changes every time we update our scripts.

[2018-07-31 11:58] remoteadmin commented on #5
Hi Simon,

Yes, the authentication works fine for us. I will cleanup this repo and make a PR to the zaproxy repo in the coming weeks.

[2018-08-18 18:24] anshul1107 opened #6 "DEBUG:root:zap open error"
Getting below error while running zap baseline custom py from docker container for active scan.

DEBUG:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): localhost
DEBUG:root:zap open error
DEBUG:root:Setup a new context
DEBUG:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): localhost
WARNING:root:I/O error: HTTPConnectionPool(host='localhost', por

[2018-08-18 18:26] anshul1107 commented on #6
Getting below while running zap baseline custom docker container for active scan

DEBUG:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): localhost
DEBUG:root:zap open error
DEBUG:root:Setup a new context
DEBUG:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): localhost
WARNING:root:I/O error: HTTPConnectionPool(host='localhost', port=58326): Max r

[2018-08-23 20:32] tumluliu commented on #5
HI @remoteadmin , may I ask if you are still preparing for submitting a PR to zaproxy? I am asking because we are so requiring this great auth options feature in your custom scripts. If the PR is gonna happen soon, we may wait and deploy the next version of zaproxy with auth. Otherwise, we will switch from zaproxy to here. Thanks!

[2018-09-27 08:27] remoteadmin commented on #5
Hi Simon,

We did some cleanup and refactoring to use the new hook mechanism. You can see the result in this [feature branch](https://github.com/ICTU/zap-baseline/tree/Rebase-From-Fork). If you are satisfied with the solution we are happy to do a PR.

Please let us know.

[2019-01-24 10:54] imatinol opened #8 ""WARNING:root:Failed to start ZAP :(" -error while trying to start zap-baseline-custom.py"
I have the original "ICTU/zap-baseline" image which I named "ictu-zap" (and thus the container) exported from a local workstation to an external server where I am supposed to run a customized baseline scan from.

However, I get the following error when I try to start the zap-baseline-custom.py from the container:

Input:
`docker run -v $(pwd):/zap/wrk/:rw -it ictu-zap:latest zap/zap-baseline-custo

[2019-01-24 11:55] imatinol commented on #8
Root cause found.

The problem was with PATH variable in the server. We declared the environment variables with ENV in Dockerfile and rebuilt the image.

[2019-01-24 11:55] #8 closed

[2019-01-30 17:58] dhartford commented on #5
Hi Team,
Would it be possible to attempt another engagement on this?  As an end-user trying to find a means for more automated (CLI) zap usage w/ authentication, I like the methods proposed here.

Reviewing https://github.com/zaproxy/zaproxy/issues/4105 and the PR's associated with it and their current delayed/blocked state for several months (associated with a GSOC which may have ended), I would

[2019-01-31 08:52] fniessink commented on #5
I'll discuss with @dicksnel next week and see what we can do.

[2019-02-11 12:43] mantri-govind opened #9 "Spider is not using the logged in session"
Hi

Thanks a lot for this solution for authenticating form-based applications, it works very smooth. However due to some reason I feel spider is not taking the same session to browser thru the application.
For eg.
My target url is `http:\\www.example.com:3000/abc` its a RoR based application. Script does the authentication and get a cookie post that spider starts and it is traversing only the logi

[2019-02-12 14:11] dicksnel commented on #5
The new hook mechanism of zap-baseline.py from OWASP will be used, so a PR is no longer needed.

[2019-02-12 14:11] #5 closed

[2019-02-12 14:13] dicksnel commented on #6
If this is still relevant, please reopen the issue.

[2019-02-12 14:13] #6 closed

[2019-02-12 14:16] dicksnel commented on #9
Hi, can you please post the console output?

[2019-02-13 04:46] mantri-govind commented on #9
@dicksnel  console output

` A dash may be used with the "merge" and "source" to read from the
standard input.  Commands beginning with "n" use numeric format.

DEBUG:easyprocess:param: "['Xvfb', '-br', '-nolisten', 'tcp', '-screen', '0', '1024x768x24', ':1001']"
DEBUG:easyprocess:command: ['Xvfb', '-br', '-nolisten', 'tcp', '-screen', '0', '1024x768x24', ':1001']
DEBUG:easyprocess:joined command:

[2019-02-13 09:57] dicksnel commented on #9
Hi @mantri-govind, thank for the info. Is the cookie named "_App-App_sessions" the only cookie required to get a valid session? Or does the application require any additional cookies or HTTP headers containing session related tokens?

[2019-02-14 12:25] mantri-govind commented on #9
Yes @dicksnel that's the only thing which is needed.

[2019-02-18 04:34] mantri-govind commented on #9
@dicksnel Any idea why it is acting like this.. even I have tried same on UI as well its happening the same in GUI as well..

[2019-02-21 09:41] dicksnel commented on #9
Hi, I'm trying to replicate the issue and will get back to you.

[2019-03-25 21:27] cudandres opened #11 "ZAP now has hooks for customizing scans"
I just wanted to highlight that ZAP baseline scripts now have a hook system to add in your custom functionality instead of having to fork scripts & add your mods.

https://github.com/zaproxy/zaproxy/blob/develop/docker/docs/scan-hooks.md

Here is an example of fully using the hooks to customize scanning against Juice Shop.
https://github.com/rezen/zap-tutorial/blob/master/assets/hooks-goal.py

[2019-04-15 10:34] dicksnel commented on #9
Hi, this issue is now fixed in the master branch. Please try a new scan and use the example shown in the README.

[2019-04-15 10:34] #9 closed

[2019-04-15 10:34] dicksnel commented on #11
Hi, we already had a branch which implemented this. This branch is now merged to the master!

[2019-04-15 10:34] #11 closed

[2019-06-26 13:32] sboo opened #12 "Error when using the auth_hook"
Whenever I try to login to the site, I get a Java error and the script gets stuck:

command:
`zap-full-scan.py -t https://mywebiste.com -r zap_report.html --hook=/zap/auth_hook.py -z "auth.loginurl=https://mywebiste.com/login auth.username=test@example.com auth.password=secret auth.username_field=email auth.password_field=password auth.submit_field=submit"`

output:
[code]

The last warning repeat

[2019-06-26 14:05] sboo commented on #12
This issue seems to only occur when I run it from within the docker interactive bash. When running it as described then I don't have the issue.

So maybe it's a non-issue

[2019-06-26 14:06] #12 closed

[2020-01-10 13:23] n7902 opened #13 "adding auth hook to command results in "File not found" for the auth.loginurl zap param"
Running this command works, displaying that it's loading the provided params when it runs.

**docker run --network="host" --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -t http://myexample.com -z "auth.loginurl=http://myexample/#/login "auth.username="admin" auth.username_field="email" auth.password_field="password" auth.password="admin123""**

But adding the switch for the

[2020-01-10 14:43] #13 closed

[2020-01-10 14:44] n7902 commented on #13
Fixed, an extra tick in the auth.loginurl switch was the culprit, cheers

[2020-01-23 15:52] n7902 opened #14 "Permission to working directory denied, report generation fails"
Noticed that the reports for my scans were not being generated. Ran below command in debug mode and found it is unable to write to the directory.

**command: docker run --network="host" -v /home/adminngumina:/zap/wrk:rw -t ictu/zap2docker-weekly zap-full-scan.py -t https://mysiteexample.local/ --hook=/zap/auth_hook.py  -z auth.username="Ngumina"  auth.loginurl=https://mysiteexample..local/#/login

[2020-01-24 11:32] dicksnel commented on #14
@n7902 does the directory "/home/adminngumina" have RW access?

Can you paste the full log?

[2020-01-24 12:22] n7902 commented on #14
It does, and just to sanity check, I've tried a few other host directories which I know have RW.

And sure, are you looking for the full stack trace or for the zap.out logs from within the container?

[2020-01-27 08:37] dicksnel commented on #14
Hi @n7902  I can replicate the issue and will make a fix.

[2020-01-27 12:41] dicksnel commented on #14
@n7902 can you try running it with the param -u root in the Docker command?

[2020-01-28 11:56] n7902 commented on #14
yep, that worked! I'll use that for now, thanks very my much

[2020-01-28 11:57] #14 closed

[2020-02-07 16:02] AbhishekPuranam opened #15 "-bash: -z: command not found issue"
Hi
-Z command not found when I use authenticated scan. Could you kindly fix it.

   docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py \
  -t http://hackazon.webscantest.com/user/login \
  -r testreport.html \
   --hook=/zap/auth_hook.py \
  -z "auth.loginurl=http://hackazon.webscantest.com/user/login \
      auth.auto
      auth.username="****" \
      auth.password=

[2020-02-07 16:49] fniessink commented on #15
The error message you got from bash indicates that you put the -z argument on a separate line.

This works for me:

    $ docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py -t http://hackazon.webscantest.com/user/login -r testreport.html --hook=/zap/auth_hook.py -z "auth.loginurl=http://hackazon.webscantest.com/user/login
    auth.auto
    auth.username=''
    auth.pa

[2020-02-08 03:18] AbhishekPuranam commented on #15
Thanks the error was resolved. Instead of the script creating the context everytime, can we invoke the context saved in volumes.
INFO: Created user preferences directory.
Setup a new context for target http://hackazon.webscantest.com/account

[2020-02-08 04:17] AbhishekPuranam opened #16 "Unexpected error: <class 'selenium.common.exceptions.WebDriverException'>"
1.)took the Image of DVWA,(https://hub.docker.com/r/vulnerables/web-dvwa/)
2.)reset DB and able to login via : http://127.0.0.1:80/login.php
3.) Ran the the docker run.
docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py -t http://127.0.0.1:80/login.php -r testreport.html --hook=/zap/auth_hook.py -z "auth.loginurl=http://127.0.0.1:80/login.php
auth.auto
auth.username='

[2020-02-08 04:34] #15 closed

[2020-02-08 04:40] AbhishekPuranam opened #17 "Need capability to fetch authentication from the .context than generating."
Using ZAP GUI, the user can generate the context to mention if it's a form-based login or JSON based login. With the location provided in the volumes, the scanner should be able to fetch.
https://nullsweep.com/dynamic-security-scanning-in-a-ci-zap-scanning-with-jenkins/

[2020-02-18 14:16] dicksnel commented on #16
@AbhishekPuranam ZAP runs inside a Docker container, so it won't be able to reach your application which is inside another Docker container. See the message "Firefox can’t establish a connection to the server at 127.0.0.1."

You should probably provide your internal IP instead of localhost.

[2020-02-18 14:20] dicksnel commented on #17
@AbhishekPuranam I don't understand your question, can you provide more info?

This tool does not rely on the built-in support for Form based login, but uses a Webdriver to submit forms.

[2020-02-25 14:00] SinhaKrBiplab opened #18 "The zap-baseline.py runs on my site but scans only the target url in passive mode"
I ran the zap baseline on my site which is a redirection so it redirects to another url. I see it scans only the target url, the python script I modified to login and it gave me the logged in access token also. But for some reason the warnings are only for the target url and not other spider crawled urls. Please help.

I ran this command. zap-baseline.py -t https://qa-pinpoint.ddiworld.com/psg2 -r

[2020-02-26 10:27] dicksnel commented on #18
Does your site work with session cookies or auth tokens? Auth tokens are not supported atm. I am currently building support for it.

[2020-04-07 10:43] #16 closed

[2020-04-07 10:43] #17 closed

[2020-04-29 14:38] dantemorius opened #19 "Parameter -I not allowed"
Using the default image from owasp repo, the parameter -I (UPPERCASE i) allows to go ahead with Pipeline without mark it as Failed, but with this image, the job always break. I would like to have the option of generate the Scan report without interrupt the Pipeline.

Is there any way to workaround this?

[2020-04-30 10:06] dicksnel commented on #19
Hi, -I is only used to return exit code 0 if ZAP has detected a warning. If you do not use -I, it would return exit code 1, which will break your job.

If your job breaks, the authentication part is probably throwing an exception because for example the logon fails. Can you post the log of the job that breaks?

[2020-08-26 19:25] mrhcon opened #20 "Image?"
Hi,
In you README you indicate "Since this authentication solution uses webdriver and a browser a custom image is needed to meet these requirements."
Do you have any information on how to build this custom image?
Thanks

[2020-08-26 22:11] fniessink commented on #20
The image is available from Docker Hub: https://hub.docker.com/repository/docker/ictu/zap2docker-weekly. I'll add a link to the README. Thanks!

[2020-08-26 22:11] #20 closed

[2020-08-27 17:25] mrhcon opened #21 "Exception - File not found."
Banging my head against the wall for last few days.

+ docker run --name jenkins-ftnweb-low-pipeline-develop-107-ZAP -u 0 -v jenkins-ftnweb-low-pipeline-develop-107-ZAP-VLM:/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py -t https://10.163.32.4/FTNWeb -r zap-report-jenkins-ftnweb-low-pipeline-develop-107.html -I --hook=/zap/auth_hook.py -z auth.loginurl=https://10.163.32.4/FTNWeb/login auth.

[2020-08-27 20:30] fniessink commented on #21
Have you tried putting quotes around the argument to -z as shown in the [README.md](https://github.com/ICTU/zap-baseline/blob/master/README.md)?

[2020-08-27 20:51] mrhcon commented on #21
Hi Frank,
Thank you for your responses.
I believe that I have and the zap_webdriver.py method  load_from_extra_zap_params is correctly outputting the details in the trace ->
2020-08-27 17:18:05,160 load_from_extra_zap_params port 58697
2020-08-27 17:18:05,169 load_from_extra_zap_params auth_auto True
2020-08-27 17:18:05,169 load_from_extra_zap_params auth_display False
2020-08-27 17:18:05,169 load

[2020-08-27 22:35] fniessink commented on #21
OK, hopefully @dicksnel can help you out. He's the lead maintainer of this repo.

[2020-09-01 08:20] dicksnel commented on #21
@mrhcon I am investigating this issue.

[2020-09-01 08:47] dicksnel commented on #21
@mrhcon you should not pass -u 0, this will break the selenium process. For what reason did you include this param?

[2020-09-01 08:51] #21 closed

[2020-09-01 08:52] #19 closed

[2020-09-04 13:51] dicksnel commented on #18
Please use the latest version with Authorization header support: #22

Please open a new issue if you are still having problems.

[2020-09-04 13:51] #18 closed

[2020-09-15 09:45] greckko opened #23 "Add custom header for each scan"
so dev teams can recognize it's a zap scan

[2020-09-16 07:43] dicksnel commented on #23
Added "X-Scanner: ZAP" header to each request in 6e5557c5fbe18597d1fe1b45d4058b5ed10358e7

[2020-09-16 07:43] #23 closed

[2020-09-20 10:42] cocoytech opened #24 "Add Azure Active Directory Scan with Oauth2"
Hi i did stumble your article, i did amaze on how you customize the scripts(not a python developer here)

do you have any example on how to do it on Single Sign On scan application? like using Azure Active directory, by supplying, client id, client password/secret and scope

Thanks a lot

[2020-09-22 09:23] dicksnel commented on #24
Hi @cocoytech , do you have an example app I can test with?

This should already be supported, you can provide the login URL and the hook will try to login.

[2020-09-22 11:27] cocoytech commented on #24
This is application is using single sign on, but 2 things matter:
* It is not a generic login form field, it will be redirect to and Authentication server(like Okta, Sailpoint, etc. Currently we are using Azure Active Directory)
* If ever we can manage to login with standard username or password using a script, the security on login is using Multifactor authentication, therefore to login the appli

[2020-09-22 13:04] dicksnel commented on #24
@cocoytech so if I understand it correctly you would like a feature that:

* User provides OIDC issuer endpoint, Client Id, Client Secret, username and password in arguments
* Hook fetches a JWT token from OIDC
* Hook uses this token in the Authorization header and adds it to all ZAP requests

[2020-09-23 05:49] cocoytech commented on #24
@dicksnel  Exactly, thank you for this one sir, it would be valuable to us a nonprofit organization gearing to digital transformation

[2020-10-20 13:55] Yvtq8K3n opened #25 "Unable to find certaint html components"
I was trying to test this on a Traditional Web Application (bodgeit) that uses form-based login.
![image](https://user-images.githubusercontent.com/19397871/96594239-4eddce00-12e2-11eb-88cb-a6c5cf05a5c1.png)

However due to the validation you currently using: type == "text",
![image](https://user-images.githubusercontent.com/19397871/96595550-b1839980-12e3-11eb-8675-2c120a8a83ac.png)

It is unable

[2020-10-21 07:56] dicksnel commented on #25
@Yvtq8K3n I will change the script to type is text or type is empty.

In the mean time, you can ofcourse specify your own Xpath using the auth.username_field parameter, for example //input[id='username']

[2020-10-22 08:58] dicksnel commented on #25
Fixed in a5ae4363264647bd3115d53c05b7b82b51b92c5d

[2020-10-22 08:58] #25 closed

[2020-10-26 10:31] Yvtq8K3n opened #26 "License"
Sorry to bother you again. I check the code in depth and I would like to use parts of it and possibility add some custom stuff for myself like api calls to statistics. Is it possible to add a license? Otherwise it will be illegal for me to perform any of the alterations.
Thanks:)

[2020-10-26 16:46] fniessink commented on #26
I've added the Apache 2.0 LICENSE.

[2020-10-26 16:46] #26 closed

[2020-12-18 11:41] sai-yanamandra commented on #13
Can you pleas send the exact command that fixed the issue? I am also facing the same issue here

[2020-12-18 14:33] dicksnel commented on #13
@sai-yanamandra are you using the latest version? Error messages were recently improved. Please provide your full command.

[2021-03-12 12:55] andydkelly-ig opened #30 "Struggling to locate Submit button in Ember App"
Hi,

First of all thank you for making this - it's a great resource we've been using for over a year

I am now moving to implement the solution against an existing product we are not yet scanning and am hitting a brick wall authenticating. I have managed to fill in the Username and Password fields on the login screen, but the XPath for our Login button is `//*[@id="login-button"]/button` and as a

[2021-03-12 14:51] dicksnel commented on #30
@andydkelly-ig I just recently commited a change that allows this parameter:
`auth.submitaction=submit`

This will instruct the tool to perform a submit on the form in which the Username field is located. Can you try this?

[2021-03-12 14:52] andydkelly-ig commented on #30
Will give it a go

[2021-03-13 22:50] iTaybb opened #31 "zap_auth doesn't support logins with username with type=email"
Assuming html login form username is actually an email, this control:

`<input name="email" placeholder="Email" type="email" class="form-control">`

won't be identified, even when run with `auth.username_field="email"`

It would seem that this happens as the code in zap_auth.py explicitly looks for `@type='text' or not(@type)` controls.

[2021-03-15 10:38] dicksnel commented on #31
@iTaybb I just made a commit which includes username fields with type=email. Can you pull the latest image and try again?

[2021-03-15 10:44] dicksnel commented on #30
By the way, you can also provide xpath in the auth.submit_field config param. So you could do: auth.submit_field='//*[@id="login-button"]/button'

[2021-03-17 22:28] iTaybb commented on #31
It seems that with the latest image, the code crashes:
` Traceback (most recent call last):
   File "/zap/zap_auth.py", line 77, in login
     self.auto_login(config)
   File "/zap/zap_auth.py", line 163, in auto_login
     self.submit_form(username_element)
   File "/zap/zap_auth.py", line 169, in submit_form
     if self.config.auth_submitaction == "click":
 AttributeError: 'ZapAuth' object has

[2021-03-18 08:55] dicksnel commented on #31
@iTaybb oops... fixed the bug. Can you try again?

[2021-03-19 13:08] iTaybb commented on #31
Looks great! 10x

[2021-03-19 13:08] #31 closed

[2021-03-19 16:05] andydkelly-ig commented on #30
Sadly this didn't work with either of my apps (one is Ember and one is Angular) - it just cannot seem to find the button to submit. I can find and fill Username and Password but on both apps the login button doesn't appear as type button or submit.

I am not a front end dev, so this is all a little over my head.

On the Angular app the XPath for the login button is `//*[@id="button-1022"]` and on

[2021-03-19 16:09] andydkelly-ig commented on #30
I receive the error:

```selenium.common.exceptions.NoSuchElementException: Message: Unable to locate element: //*[@type='submit' or @type='button']```

[2021-03-22 09:40] dicksnel commented on #30
@andydkelly-ig could you post a demo page or the HTML / DOM? So I can debug the issue.

[2021-03-22 10:45] andydkelly-ig commented on #30
https://d3sa-preview.infogixsaas.com/editor is one of them

[2021-03-22 11:57] dicksnel commented on #30
Cool, I'll take a look!

[2021-03-23 09:06] dicksnel commented on #30
@andydkelly-ig can you pull the latest image, it should work now without providing any field name. Alternatively you can provide auth.username_field="ember4" auth.password_field="ember5" auth.submit_field="//button"

[2021-03-23 09:16] andydkelly-ig commented on #30
Fantastic Dick, it's running now. Really appreciate the quick turnaround on this. Thank you very much 👍

[2021-03-23 09:30] dicksnel commented on #30
Nice!

[2021-05-06 06:19] vinilnarayan opened #33 "Getting unexpected EOF while looking for matching `"'"
Hi,
I'm getting below error while running with

**docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py -I -j \
  -t http://zero.webappsecurity.com/login.html \
  -r testreport.html \
   --hook=/zap/auth_hook.py \
  -z "auth.loginurl=http://zero.webappsecurity.com/login.html \
      auth.username="username" \
      auth.password="password" \
      auth.username_field="us

[2021-05-06 06:51] dicksnel commented on #33
Hi, you are missing the closing quotes for the -z argument. So you need to add another “ at the end.

[2021-05-06 09:04] vinilnarayan commented on #33
@dicksnel

Ohhhh noooooo... Accidentally I missed and its working fine now..

[2021-05-06 13:55] vinilnarayan commented on #33
Hi,

Have you faced the issue which I mentioned din below.. I have tried to understand the issue. but could not get any solution.

raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.WebDriverException: Message: Reached error page: about:neterror?e=nssFailure2&u=https%3A//zero.webappsecurity.com/auth/accept-certs.html%3Fuser_token%3De9675ea7-8f36-40be-bd60-90fda2f96371&c=

[2021-05-06 16:52] dicksnel commented on #33
Cab you post the full command and output with -d ? Seems like it cannot load your site because of an invalid certificate.

[2021-05-07 04:43] vinilnarayan commented on #33
Hi,
The command which I tried is
[code]

And the output is

[code]

[2021-05-07 09:19] dicksnel commented on #33
This error is due to the fact that the website is using TLS1.1 or older, which is deprecated and now blocked behind a warning by Firefox and Chrome.

I just pushed a commit which ignores this warning. Please pull the latest Docker image and try again.

[2021-05-07 10:00] vinilnarayan commented on #33
Thank you soo much for the quick response.

Sorry , I'm new to docker actually. :(

can i use the same command to pull latest docker image?

[code]

[2021-05-07 10:07] vinilnarayan commented on #33
Hi @dicksnel ,

With my limited knowledge, i have updated the command.

[code]

and still getting

[code]

[2021-05-10 07:45] dicksnel commented on #33
Hi, you need to pull the latest image first:

`docker pull ictu/zap2docker-weekly:latest `

[2021-05-11 08:55] vinilnarayan commented on #33
@dicksnel ,

Its really cool... very interesting..
Thanks for the help :)

[2021-05-11 08:55] #33 closed

[2021-06-04 11:03] alex4561 opened #34 "What i doing wrong?"
Hello! Can you help me please. I make scan.sh file with:

[code]

Then start it. Log:

[code]
It looks like everything is ok, but:

[code]

And the whole log is filled `[GFX1-]: RenderCompositorSWGL failed mapping default framebuffer, no dt`

What I do wrong?=)

I have tried running it on Mac and Ubuntu Server without GUI.

Thank you!

[2021-07-01 12:23] snehadominic commented on #34
@alex4561 Facing the same issue. Have you got this fixed.? Please share the update. It would be really helpful.

I am also getting the below error.
` ERROR [Errno 13] Permission denied: '/zap/wrk/testreport.html'`

[2021-07-01 12:35] snehadominic commented on #14
@n7902 Hi, can you please explain the fix for this issue? What does 'root' in '-u root' means? Is it the root folder. I had tried that and an error is thrown.

[2021-07-01 13:15] dicksnel commented on #14
@snehadominic it means the container is started as root user.

[2021-07-01 13:18] dicksnel commented on #34
@alex4561 I think this is only some spam not actual errors for ZAP: https://github.com/mozilla/geckodriver/issues/1898

Or is the report not generated in the end?

@snehadominic You can that error because the ZAP container cannot write the report. Try -u root in the docker run command.

[2021-07-01 15:22] snehadominic commented on #34
@dicksnel Thanks for quick help! -u root fixed the report issue.

As a question, what does below logs mean? I am seeing it even when I tried running scan against the demo URL in command example.

[code]

[2021-07-02 03:50] snehadominic commented on #34
@dicksnel A quick update, using '-u root' didn't fix the issue completely. After using '-u root' in the docker run command, login is failing. Scan is happening without authentication. Once I remove '-u root', I could see that login is successful, but then permission to write report is not present. Please help.

Adding authentication error below:
[code]

[2021-07-02 07:23] dicksnel commented on #34
Are you sure the Docker container can reach the host you are scanning? Can you paste your full command?

[2021-07-19 08:47] rameshrangaswamy commented on #13
@n7902 Could you please share the Fix on auth.loginurl switch am facing same issue

[2021-07-19 09:38] dicksnel commented on #13
@rameshrangaswamy can you share your full command and output?

[2021-07-19 10:12] rameshrangaswamy commented on #13
@dicksnel here it is please help in resolving this.

chmod -R 777  ./
docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 \
  -t https://*************.net \
  -r testreport.html \
  -d \
   --hook=/zap/auth_hook.py \
  -x OWASP-ZAP-Report.xml \
  -z "auth.loginurl=https://***********.net/signin.aspx \
      auth.username="********" \
      auth.passw

[2021-07-19 17:17] dicksnel commented on #13
@rameshrangaswamy you are missing a closing " at the end. The entire -z arg should be quoted:

[code]

[2021-08-03 13:25] #34 closed

[2021-08-11 10:43] amankumarchagti opened #35 "Auth params aren't working in docker"
I tested the auth params on an intentionally vulnerable website (altoromutual.com) but there was not any authenticated URL in the report. I used the following command. can someone from the team please re-check the command or if the command is right, can you plz check the issue of why auth params aren't working.

sudo docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py

[2021-08-11 13:24] MaciejBala opened #36 "WebDriverException when run with auth.display=true option"
Hi, I'm trying to run scan with authentication and I was trying this one option, then I got the following error:

`2021-08-11 13:07:03,583 Start webdriver
Traceback (most recent call last):
  File "/zap/zap_auth.py", line 88, in authenticate
    self.setup_webdriver()
  File "/zap/zap_auth.py", line 67, in setup_webdriver
    self.driver = webdriver.Firefox(
  File "/usr/local/lib/python3.8/dist-p

[2021-08-11 14:28] MaciejBala commented on #36
Is it because I'm trying to run it non-headless on docker?

[2021-08-12 09:03] dicksnel commented on #35
Hi, it seems there is a space missing after your -z parameter. Also there is an * at the end of your command.

[2021-08-12 09:05] dicksnel commented on #36
Hi, yes I think it is because you are running with display on inside Docker. I don't know if this is possible. If you run it without Docker it should work.

[2021-08-12 09:23] amankumarchagti commented on #35
that * is added by mistake..and regarding the space, is it mandatory??

[2021-08-12 09:33] amankumarchagti commented on #35
I've updated the above command..but it is still not working.

[2021-08-13 08:56] MaciejBala commented on #36
That's too bad :/ We're using json based authentication w/Keycloak and running it with selenium seems to be the only way to collect all the tokens needed. Couldn't do it with OWASP automation framework.
Anyway, thanks for clarifying that. I'll close the ticket now.
Keep up the good work

[2021-08-13 08:56] #36 closed

[2021-08-14 08:13] dicksnel commented on #36
@MaciejBala why do you need to display the browser? It is only for debugging purposes. Everything should work in headless mode.

[2021-08-14 08:14] dicksnel commented on #35
@amankumarchagti like in the example, if you have a newline you should end it with a slash:

https://github.com/ICTU/zap-baseline

[2021-08-18 15:00] tmaior opened #37 "Problem to test docker api scan"
I've tested this command with API scan, but the scan doesn't get all the Swagger endpoints URLs in the scan, all my environments use the keycloak auth for the access control, I follow the zap API scan documentation to run the auth commands, and for me, doesn't work.

I've tested another application with keycloak and doesn't work to find the URLs automatically, the zap app has any function to run w

[2021-08-20 08:43] dicksnel commented on #37
Hi, can you post the full output?

And do you have a demo environment available? The scanner should be able to authenticate, but I don't know what kind of token Keycloak uses to manage the session.

[2021-08-30 04:43] #35 closed

[2021-09-15 07:51] ashwiniSjan opened #39 "Running ictu/zap2docker-weekly zap-full-scan.py giving an error ''ERROR org.zaproxy.zap.DaemonBootstrap - File not found 'auth.loginurl=https'"
I am trying to run the below command with authentication -

**sudo docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 -t https://10.666.333.1:3232/webui.* -r testreport.html --hook=/zap/auth_hook.py -z "auth.loginurl=https://10.666.333.1:3232/webui/login auth.username=admin auth.password=admin@123 auth.username_field=username auth.password_field=pas

[2021-09-15 08:16] dicksnel commented on #39
@ashwiniSjan can you paste the full output? The real error related to authentication should occur earlier in the logs.

[2021-09-15 08:53] ashwiniSjan commented on #39
@dicksnel Below is the output -
**cat zap.out
Found Java version 11.0.11
Available memory: 32083 MB
Using JVM args: -Xmx8020m
593 [main] INFO  org.parosproxy.paros.Constant - Copying default configuration to /home/zap/.ZAP_D/config.xml
692 [main] INFO  org.parosproxy.paros.Constant - Creating directory /home/zap/.ZAP_D/session
692 [main] INFO  org.parosproxy.paros.Constant - Creating directory /ho

[2021-09-15 08:57] dicksnel commented on #39
@ashwiniSjan it should be output from the terminal, output from the authentication module is not written to the zap logfile.

[2021-09-15 09:02] ashwiniSjan commented on #39
@dicksnel Output from terminal is -
**sudo docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 -t https://10.20.101.181:5450/webui.* -r testreport.html --hook=/zap/auth_hook.py -z "auth.loginurl=https://10.666.333.1:3232/webui/login auth.username=admin auth.password=admin@123 auth.username_field=username auth.password_field=password auth.submit_field

[2021-09-15 09:08] dicksnel commented on #39
@ashwiniSjan I don't know if the asterisks (*) are filtered in your comment, but the seem to be missing. Also, at the end of your command your are missing a closing double quote ("). For the rest the authentication process seems to happen correctly.

In your target (-t) you should provide a normal URL, not regex.

[2021-09-15 09:16] ashwiniSjan commented on #39
@dicksnel -

Did execute exactly the below command by removing the regex etc as you suggested -

sudo docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 \

2021-09-15 07:55:05,706 Extra params passed by ZAP: ['-config', 'spider.maxDuration=10', '-addonupdate', '-addoninstall', 'pscanrulesBeta', '-addoninstall', 'ascanrulesBeta', 'auth.loginurl=https

[2021-09-16 11:01] dicksnel commented on #39
@ashwiniSjan  can you post a full terminal output? In your previous post I think the last part is missing.

[2021-09-24 15:18] JossSparkesAnswer commented on #24
@dicksnel I'm aware you're already working on this I'd just like to second that it would be very useful. Currently trying to do the same flow but getting the token from AWS Cognito. Thanks for the work, let me know if you need any testing done and I'd be happy to help.

[2021-09-27 07:32] dicksnel commented on #24
@JossSparkesAnswer I think it will get too complex to make a generic implementation for this. I'm thinking you could run the curl command before starting zap and then passing the response as a parameter to the docker run command. Then the auth plugin will parse the response and add the token to all requests.

Something like this:

[code]

Can you post an example reponse that will be returned by Co

[2021-09-27 08:01] JossSparkesAnswer commented on #24
@dicksnel that makes sense, this was what I was trying to originally achieve but could not figure out how to pass the code through. Being able to pass it through would probably solve all the Oauth2 issues. So the full bash command we use is
[code]

This spits out just the section after "Bearer" in the auth code. e.g.

[code]

[2021-09-27 08:21] JossSparkesAnswer commented on #24
@dicksnel that makes sense, this was what I was trying to originally achieve but could not figure out how to pass the code through. Being able to pass it through would probably solve all the Oauth2 issues. So the full bash command we use is
[code]

This spits out just the section after "Bearer" in the auth token e.g.

[code]

[2021-09-27 11:01] dicksnel commented on #24
@JossSparkesAnswer in that case I could add an extra config parameter, for example auth.bearer_token=eyJrxxxx. Using this the authentication module will not attempt to perform authentication but will just force the token on each request. Would that resolve this for you?

[2021-09-27 11:38] JossSparkesAnswer commented on #24
@dicksnel yeah I’m pretty sure that will work perfectly for my instance, thanks

[2021-09-30 13:56] dicksnel commented on #24
@JossSparkesAnswer I just added the param auth.bearer_token. Could you give this a try? If you pass it a JWT token (eyJ...) it should force this token as the Authorization: Bearer <token> on all requests.

The Docker image is still building when it is done you can pull it: https://hub.docker.com/r/ictu/zap2docker-weekly/tags?page=1&ordering=last_updated

[2021-09-30 15:35] JossSparkesAnswer commented on #24
@dicksnel Thanks for the quick work!

It seems to not be working atm here. A little hard to debug but I think I may have a guess on the issue.

Our webpage is very dumb and the API in the back does all the work. So I pointed the target to the frontend e.g. "-t https://{url}/projects" and I presume the authorization header gets added there which is fine but it doesn't actually authorize anything

T

[2021-10-11 09:21] dicksnel commented on #24
@JossSparkesAnswer auth.include was intended for this, but maybe there is a bug. I will try to setup a test environment and discover why it is not working.

[2021-11-08 15:21] tony opened #41 "GitHub action with ICTU/zap-baseline?"
Hi! Thank you for this project!

Is there any examples / possibilities this can be used in a GitHub action similar to ZAProxy's [actions](https://www.zaproxy.org/blog/2020-04-09-automate-security-testing-with-zap-and-github-actions/) ([action-baseline](https://github.com/zaproxy/action-baseline), [action-api-scan](https://github.com/zaproxy/action-api-scan), [action-full-scan](https://github.com/z

[2021-11-09 10:25] dicksnel commented on #41
Hi @tony , I think this could work by looking at the readme. You can set the docker_name to this docker image. I don't know how the cmd_options param works exactly, but I guess you may be able to pass the extra parameters for the authentication part here.

I will try to run some tests and see if this could work next week.

[2021-11-12 05:12] isaru66 commented on #41
@dicksnel  thanks you for your project, it work wonderfully...
let me share my github action yaml file, as I also working to use your project with some of my clients as well.

The website that I would like to scan have Single Sign-On  (on difference domain ) as authentication. I am using CURL to follow redirection , then using ictu/zap2docker-weekly to fill-in login form and back to scan the site.

[2021-11-12 05:18] isaru66 commented on #41
Almost forgot. I found one issue in Github Action environment regarding Firefox webdriver.

Thus, I endup forking this repo and switching to chrome headless for login instead.
https://github.com/isaru66/zap-baseline/commit/dc12b867b9c324c3f1205b476facb73a834b7bc0

[2021-11-12 19:17] SirNeato opened #42 "error in authenticate: None"
Hello, I'm trying to run authenticated scans of my web app and am running into a bit of a problem with authentication. I'm still getting a report out, but it doesn't contain any context past what can be scanned from the login page.

The command I'm running is:
[code]

Which produces the output:
[code]

I'm sure this is a simple syntax problem or something but for the life of me I can't figure it o

[2021-11-15 16:14] Szwiti commented on #42
Hi, I've seen this kind of error too. As far as I know, this solution gives you 5 seconds to load the application in webdriver. If it's more than 5 sec, then it will fail.

[2021-11-16 08:57] dicksnel commented on #42
Hi, please try the new params that were recently added:

auth.check_delay          How long to wait after submitting the form.
auth.check_element        Element to look for to verify login completed.

Please reopen the issue if you still have issues.

[2021-11-16 08:57] #42 closed

[2021-11-16 23:22] SirNeato commented on #42
Appreciate the replies!
I have since set auth.check_delay to a bunch of different ints, from 5 to 120, as well as auth.check_element to an XPath (it is supposed to be an XPath right?) of an element that appears after logging in and am still getting the same stack trace.

[2021-11-19 13:00] Szwiti commented on #42
with configuring auth.check_delay, my application seems working. Appreciate the help!

[2021-11-19 14:33] dicksnel commented on #41
@isaru66  very vool! I will look into switching to Chrome headless.

[2021-11-23 17:17] pedro37 opened #43 "Authenticated login is not scanning post login urls"
Hi,

I have created a temporary login at https://demoqa.com I can see authentication but the urls after authentication are not followed. I presume I must be missing something.
docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-baseline.py -I -j \
  -d -t https://demoqa.com \
  -r testreport.html \
  --hook=/zap/auth_hook.py \
  -z "auth.loginurl=https://demoqa.com/login auth.user

[2021-12-02 18:35] tony commented on #41
@isaru66 It may be worth PRing that. The reason why is (correct me if I'm mistaken), without that `-J` / ajax spidering won't work, right?

[2021-12-02 19:22] tony commented on #41
One more detail I suppose, if we forked `ICTU/zap-baseline`, we'd need to push our own docker image too right? 😆 (forgot that part)

[2021-12-02 19:24] tony commented on #41
@isaru66 One more detail I suppose: if we forked `ICTU/zap-baseline` with your commit, we'd need to push our own docker image and place it in `docker_name`, right?

[2021-12-02 22:13] tony opened #44 "Repo name?"
Thank you for the project! I have some feedback from using this.

I'm already used to the current repo name at this point but before I forget!  Would this repo be better named `zap2docker-auth-weekly`, or something else? The reason I ask is:

1. the docker image itself is `ictu/zap2docker-weekly`
2. the use of `zap-baseline` conflicts with an individual script of OWASP, but this project can (and o

[2021-12-03 06:03] isaru66 commented on #41
@tony ... it is more complicated thing, the reason that ajax spider won't work in Github Action is due to zap-action-full-scan run docker image as root user.

Specifically:
https://github.com/zaproxy/action-full-scan/blob/master/index.js
line: 43

and when you run as root in github runner, the firefox headless is not work currently.
Though of my commit as a dirty fix to make it work by switching t

[2021-12-03 06:07] tony commented on #41
@isaru66 Thank you for your reply!

Also noted on line 43 of index.js: https://github.com/zaproxy/action-full-scan/blob/a1f5a339f6ec6ff9a89b7b2ce890c471c6a5e4a1/index.js#L43

I ended up using your commit (hopefully that's okay, let me know!) and it's working great for me.

Agreed on this! A permanent solution in the long run would be to update the actions themselves in the zaproxy repository. I'm

[2021-12-03 06:23] isaru66 commented on #41
@tony yeah that ok for short-term fix :)

[2021-12-03 06:24] tony commented on #41
@isaru66 Thank you! :)

[2021-12-04 09:28] dicksnel commented on #41
@isaru66 do you mean -J does not work with the Chrome driver? Or is this only for the Github Action?

If the normal scans works (non Github Action) we could PR the Chrome driver to replace Firefox.

[2021-12-04 09:30] dicksnel commented on #44
Hi, you are right. The name was because the project started as a modified baseline scanner, but eventually evolved into an authentication hook.

I'll look at chaning the repo name. Changing the Docker image name may have more implications because many projects are already using it.

[2021-12-04 10:06] dicksnel commented on #43
@pedro37 I think it has something to do with your site using a lot of Javascript. Because many links that do not require are not spidered as well. Maybe the Ajax spider is not working properly. Can you try running the official image and see if all URL's without authentication are properly spidered?

[2021-12-04 15:54] tony commented on #44
Noted on how the project evolved from a baseline scanner! That makes sense!

Also thankfully I was just referring to the name of the github repo for this case, so changing this GH repo's name is safer since it will forward from the old name to the new one, also it won't be disruptive as the docker side of things. If you wanted to.

Should I close this for now? I assume my point has been taken (tha

[2021-12-06 08:01] isaru66 commented on #41
@dicksnel this only relate to github action as they run the process using root user in docker run.
normal scan ( running docker run directly) , firefox headless still working fine.

I think the better place to fix this might be running as non-root from github-action , I don't know why it need to be run as root on github-action side.

[2021-12-06 09:38] dicksnel commented on #41
@isaru66 I created an issue https://github.com/zaproxy/action-full-scan/issues/29

Let's see what reason there is to run as root and if it can be fixed. I'll open this issue again if there is progress.

[2021-12-06 09:38] #41 closed

[2021-12-21 12:09] dicksnel commented on #44
@tony change, thanks for the feedback!

[2021-12-21 12:09] #44 closed

[2021-12-21 13:35] tony commented on #44
Much less ambiguous  Nice!

[2022-01-18 13:46] #43 closed

[2022-03-31 10:14] zephyrxvxx7 opened #46 "chrome driver version not match"
I have tried to use auth with username & password.
But receive this exception:
[code]

The root cause is apt of google-chrome-stable version is 99.0.4844.51.
But the Dockerfile of the chrome driver's version is 97.0.4692.71.
That will cause the version mismatch.
Please help to fix it.

Thank you

[2022-04-05 09:59] dicksnel commented on #46
Fixed in 28a5c33b0964afae0fddb21bde57ff1f21821213

[2022-04-05 09:59] #46 closed

[2022-05-12 10:36] joshibeast opened #47 "Chrome driver version mismatch"
This started happening from last week.
The similar issue that was previously fixed:
https://github.com/ICTU/zap2docker-auth-weekly/issues/46

Current browser version is 101.0.4951.54

[2022-05-13 11:50] hamzaElharti opened #48 "No module named 'selenium' zap-full-scan.py with auth_hook.py"
Hello,
When running a scan with auth_hook I get an error:

`docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 \
  -t http://localhost:3000 \
  -r testreport.html \
  --hook=/zap/auth_hook.py \
  -z "auth.loginurl=http://localhost:3000/#/login \
      auth.username="demo" \
      auth.password="demo" \
      auth.username_field="email" \
      auth.

[2022-05-16 12:47] hamzaElharti commented on #48
Very kind reminder.

Hamza

[2022-05-17 08:04] dicksnel commented on #47
@joshibeast thanks, fixed in your PR! https://github.com/ICTU/zap2docker-auth-weekly/commit/12fa3b335dd54793e4bc56d935691d9537e8e87f

[2022-05-17 08:04] #47 closed

[2022-05-17 08:20] dicksnel commented on #48
Did you pull the latest version? I cannot reproduce the issue.

[2022-05-17 09:20] hamzaElharti commented on #48
Yes, I use the latest version and run it with podman.

[2022-07-07 11:19] Maxim-Durand opened #50 "Message: session not created: This version of ChromeDriver only supports Chrome version 100"
Hi, I'm trying to scan a website with an authentication step, I'm using the latest docker image and I ran this command:
[code]

With:

The parameters are injected without any problem as you can see in bellow logs (sanitized):

[code]

Although the scan does work, there is no authentication to the website (hence it's only scanning the login page).
From looking at the output I do not see any errors

[2022-07-07 16:18] Maxim-Durand opened #51 "ERROR org.zaproxy.zap.DaemonBootstrap - File not found 'auth.bearer_token=<myToken>'"
Hi, I'm trying to scan an API, using bellow command:
[code]
With
[code]

But It seems the Bearer token isn't recognized by ZAP, hence it throws the following error:
[code]

Here are the complete logs (sanitized):

[code]

[2022-07-12 04:26] mudit94 opened #52 "Saving cookies from another subdomain"
Hi Team,
I have a scenario like when i visit a.example.com/login , the page redirects to b.example.com wherein I give the credentials, after successfull login , it redirects back to a.example.com. As i checked , the browser cookies, it contaiains the KEYCLOAK_IDENTITY which is required for maintaining authenticated sssion. However I am unable to store this cookie key and use it for spidering. How

[2022-07-12 13:57] vanovarderesyan commented on #34
![image](https://user-images.githubusercontent.com/36670993/178507039-9d47af81-af10-4168-a71e-0d7e6e8de2d6.png)

hi all I have run the ZAP with the help of docker and I get this error (find the screen)
What solutions you can offer .
I have tried to scan the login pages

[2022-07-19 07:57] dicksnel commented on #52
Hi @mudit94, I ran into this issue myself. As far as I could see, it was not possible to set a cookie with ZAP for another domain. If you have any other idea please let me know and I'll integrate it.

[2022-07-19 07:59] dicksnel commented on #51
Hi, you are not using the image from this project, but ZAP directly. For support on ZAP API scan please refer to https://www.zaproxy.org/docs/docker/api-scan/

[2022-07-19 07:59] #51 closed

[2022-07-19 08:16] dicksnel commented on #50
Please pull the latest version it has a fix.

[2022-07-19 08:16] #50 closed

[2022-08-31 19:26] megane-ssi opened #53 "chromedriver version"
I get this error message while runing a scan api with ajax option :
*******
 File "/zap/zap_auth.py", line 80, in authenticate
    self.setup_webdriver()
  File "/zap/zap_auth.py", line 67, in setup_webdriver
    self.driver = webdriver.Chrome(options=options)
  File "/home/zap/.local/lib/python3.8/site-packages/selenium/webdriver/chrome/webdriver.py", line 76, in __init__
    RemoteWebDriver.__in

[2022-09-06 12:35] bat79a commented on #53
+1 ;(

My logs

[code]

[2022-09-06 13:26] dicksnel commented on #53
@bat79a I just commited a fix. Can you try again after the image is ready on Docker Hub?

[2022-09-06 13:54] bat79a commented on #53
@dicksnel
YES Perfect, thx a lot for this quick fix.
Have a good day, and thx again.

[2022-09-06 13:57] #53 closed

[2022-09-06 15:29] bat79a opened #54 "Auth with Good or Bad user/password display no fail logs"
Hi.

If I run the docker command  :
`docker run --rm -t ictu/zap2docker-weekly zap-full-scan.py -I -j -m 10 -T 60 -t https://mysite.fr/ --hook=/zap/auth_hook.py -z "auth.loginurl=https://sso.mysite.fr/ auth.username="demo" auth.password="1234""`

With good or bad credentials, logs are the same, so I'm not sure that the scan really scan a logued user.
Can we see a trace somewhere if the login faile

[2022-09-08 09:41] dicksnel commented on #54
@bat79a can you paste the full log? It should print if session identifiers were discovered and used.

[2022-09-08 10:21] bat79a commented on #54
Hello.

Sure thx a lot for your time.

**With the good credentials :**

[code]

**With bad credentials :**

[code]

Thx a lot @dicksnel ;p

[2022-09-13 15:59] DimVit23 opened #55 "assistance with authentication"
Thank you for your work! Maybe you can help me!? Please tell me how to set up authentication for WebGoat? And integrate it into Jenkins work?

[2022-09-15 09:48] dicksnel commented on #55
@DimVit23 can you take a look at the examples in the Readme: https://github.com/ICTU/zap2docker-auth-weekly

They should work with WebGoat. You can run your final command in a Jenkins Shell-script job.

[2022-09-15 09:49] dicksnel commented on #54
@bat79a are you using authentication cookies on a different domain from your application? Then it may be related to https://github.com/ICTU/zap2docker-auth-weekly/issues/52

Unfortunately at this moment the session cookie must be on the same domain as the application.

[2022-09-15 13:49] bat79a commented on #54
Hello @dicksnel .

Thx for your time and your feedback.

I'm not using a different domain, but I use a sub-domain.

Example :
- **particulier**.mysite.fr (for the website) and
- **sso**.mysite.fr (for the SSO)
So I think that is a probleme too ;p

Thx again.

[2022-09-20 09:06] k8skrish opened #56 "How to disable addonupdate as -silent flag fails to work"
Hello All, Currently having issue running api-scan, as it's in isolate environment and don't have access to internet to pull update, is there any way to bypass this ? -silent flag doesn't work, also we don't have option to provide the proxy details.

[2022-10-04 08:17] #55 closed

[2022-10-04 08:20] dicksnel commented on #56
@k8skrish you can pass CLI options by using the -z parameter, example -z "-silent"